body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#ffffff;
}

 .inner-page{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#ffffff;

  background-color: #849d8f;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*так работает visually-hidden*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.header-container{
  width: 990px;
  margin: 0;
  padding: 0;
}

.main-header{
  margin-bottom: 10px;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size:16px;
  line-height:18px;
  color: #ffffff;
}

.site-navigation,
.user-navigation,
.section-of-catalog,
.action-list,
.menu-list,
.about-shop-list,
.footer-social,
.inside-of-basket,
.breadcrumbs,
.catalog-list,
.pagination-list
{
  list-style: none;
}

.site-navigation a,
.user-navigation a{
  display: block;
  padding: 15px 10px;
  text-decoration: underline;

  vertical-align: middle;
  color:#ffffff;
}
/*Пропиши в этом разделе все возможные варианты работы ссылки*/
.site-navigation a:hover,
.site-navigation a:focus{
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color:#323232;
  align-items: center;

  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 12px;
  margin-right: 10px;
  min-width: 70px;

  border-radius: 25px;
  background-color:#f7f6f3;
}

.user-navigation a:hover,
.user-navigation a:focus{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-align: center;
  color:#323232;

  background-color: #f8f7f4;
  border-radius: 25px;
}

.main-navigation-logo{
  width: 154px;
  height: 64px;
}

.main-navigation-wrapper .header-container{
  display: flex;
  justify-content: space-between;
}

.site-navigation{
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin:0;
  padding: 0;
}

.user-navigation{
  display: flex;
  justify-content: space-between;

  width: 260px;
  margin:0;
  padding: 0;
}

.user-navigation-items{
  min-width: 100px;
  margin:0;
  padding: 0;
}

.section-of-catalog{
  width: 145px;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;
  border-radius: 25px;
  box-shadow: 10;
}

.site-navigation-current{
  min-width: 100px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  text-align: left;
  color:#ffffff;
  }

.user-navigation .login-link{
  position: relative;
  padding-left: 45px;
}

.user-navigation ul{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-align: center;
  color:#ffffff;

  background-color: #f8f7f4;
  opacity: 0.2;
}

.button-to-search,
.button-to-inside,
.button-to-basket{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-align: center;
  color:#323232;

  background-color: #f8f7f4;
  opacity: 0.2;
  border: none;
  box-shadow: none;
  border-radius: 25px;

  padding: 0;
}

.iside-of-catalog-item{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-align: left;
  color:#323232;

  background-color: #fef7f4;
}

.section-of-catalog a{
  color:#323232;
}

.login-link::before {
  content: "";

  position: absolute;
  left: 18px;
  top: 7px;

  width: 22px;
  height: 20px;

  background-image: url("img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3px;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.inside-of-login{
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  text-align: right;
  color:#323232;

  background-color: #f8f7f4;
}

.iside-of-login form{
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  text-align: right;
  color:#323232;
  background-color: #f8f7f4;
}

.inside-of-login a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;

  text-align: right;
  color:#323232;
}

.inside-of-login-form{

}

.button-of-search-inside{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-align: right;
  color:#999999;
}

.inside-of-basket{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  text-align: left;
  color:#323232;
}

.slider {
  position: relative;

  padding-top: 321px;
  padding-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size:60px;
  line-height:63px;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.action{
  width: 1200px;
  font-size:18px;
  line-height:22px;
  font-weight: 600;
  text-align: left;

  color:#ffffff;
  text-align: left;
}

.action-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.action-list h3 {
  font-size:35px;
  line-height:41px;
  font-weight: 600;
  text-align: left;
  color:#ffffff;

  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.action-list p {
  font-size:18px;
  line-height:22px;
  font-weight: 600;
  text-align: left;
  color:#ffffff;

  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.action-item{
  width: 560px;
  border-radius: 20px;
  padding-right: 26px;
}

.action-item:nth-child(1){
  background-color: #5e1a23;
  background-image: url("img/raspberry.jpg");
}

.action-item:nth-child(2){
  background-color: #734a37;
  background-image: url("img/raspberry.jpg");
}

.menu{
  font-size:16px;
  line-height:22px;
  font-weight: 500;
  text-align: center;
  color:#ffffff;

  padding-bottom: 40px;
}

.menu-list{
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  list-style: none;
}

.menu-item{
  width: 267px;
  height: 267px;
  margin-right: 26px;
  padding-bottom: 40px;
}

.menu-item img{
  border-radius: 130px;
  margin-bottom: 16px;
}

.menu h3{
  margin: 0;
  position: relative;

  font-size:45px;
  line-height:45px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color:#ffffff;
}

.menu img::before{
  content: "";

  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url("img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;
}

.menu h3::before{
  content: "";

  position: absolute;
  left: 90px;

  width: 80px;
  height: 40px;

  background-image: url("img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;
}

.menu p{
  text-decoration: underline;
  margin-bottom: 40px;
}

.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 12px;
  padding:0;
}

.breadcrumbs li{
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;

  top: 8px;
  right: -15px;
  width: 8px;
  height: 8px;

  background-image: url("img/select-arrow.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title{
  margin: 0;
  margin-bottom: 37px;
  padding:0;

}

.filters{
  width: 865px;
}

..breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.catalog{
  width:1146px;
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1147px;
  margin-bottom:80px;
}

.catalog-item{
  width: 267px;
  height: 267px;
  margin-right: 26px;
  padding-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img{
  border-radius: 130px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-price {
  font-size:45px;
  line-height:45px;
  font-weight: 700;
  text-decoration: none;
  color:#ffffff;
}

.catalog-item-title{
  font-size:16px;
  line-height:22px;
  font-weight: 500;
  color:#ffffff;
  text-decoration: underline;
}

.catalog h3{
  margin: 0;
  position: relative;

  font-size:45px;
  line-height:45px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color:#ffffff;
}

.catalog h3::before{
    content: "";

    position: absolute;
    left: 90px;

    width: 80px;
    height: 40px;

    background-image: url("img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.pagination-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 5px;

  width: 28px;
  height: 28px;

  font-size:16px;
  line-height:18px;
  font-weight: 600;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 80px;
  color: #323232;
}

.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.2;
  color: #ffffff;
}

.pagination-item a:active {
  background-color: #ffffff;
  color: #323232;
  border-radius: 15px;
}

.about-shop{
  width: 1200px;
  color: #323232;
  text-align:left;

  background-color: #eadcbd;
  background-image: url("img/waffle.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.about-shop h3{
  margin: 0;
  margin-bottom: 23px;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  width: 1146px;
}

.about-shop p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 75px;
  width: 485px;
}

.about-shop-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.about-shop-item{
  width:490px;
  margin-bottom: 27px;
}

.index-colums{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  background-image: url("img/maps.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog{
  color: #323232;
  width: 560px;
  border-radius: 25px;

  background-color: #ffffff;
  background-image: url("img/scherbet.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: underline;
  color: #323232;

  margin-left: 21px;
}

.blog a{
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;

  margin: 0;
  margin-left: 21px;
  margin-top: 30px;
}

.subscription{
  color: #5a5a5a;
  width: 560px;

  background-color: #f8f7f4;
  background-image:
  url("img/bezhevy.png")
  url("img/post.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.subscription-item{
  width: 370px;
}

.subscription-item input {
  box-sizing: border-box;
  width: 370px;
}

.subscription .email_button{
  width: 130px;
  margin-left: 10px;
}
.subscription p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}

.index-colums-map{
  margin: 0;
  padding: 0;
}

.index-colums-map img{
  width: 1200px;
}

.contacts{
  width: 300px;
  border-radius: 25px;
  color: #323232;
  background-color: #fdfefe;
}

.bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
}

.small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.email_button,
.button-basket,
.button_feedback{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-align: left;
  color:#fefefe;
  vertical-align: middle;
  text-transform: none;

  background-color: #e74a35;
  border: none;
}

.main-footer {
  font-size:13px;
  line-height:18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  padding-top: 40px;
  text-align: center;
  margin-top: 40px;
}

.main-footer a{
  text-decoration: underline;
  color: #ffffff;
}

.footer-social{
  width:267px;
  margin-left: 27px;
}
.footer-link-container{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 340px;
}

.footer-link{
  width: 110px;
  text-align: center;
}

.footer-link-words{
  min-width: 105px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-copyright{
  width:267px;
  margin-right: 27px;
  padding: 0;
  margin: 0;
}

.footer-copyright p{
  font-size:12px;
  line-height:18px;
  font-weight: 400;
  color: #fefefe;
  text-decoration: none;
}
.main-footer .container-footer{
  display: flex;
}

.modal-feedback{
  font-size:24px;
  line-height:28px;
  font-weight: 600;
  text-align: left;
  color: #323232;
  text-decoration: none;

  background-color: #f8f7f4;
}

.inner-page .main-footer{
  margin-top: 50px;
}

.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 186px;
  margin: 0 auto;
  padding: 0;
}

.social-button{
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #e6ebe9;
  border-radius: 30px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
  transition:background-color 1s;
}

.social-button:hover path,
.social-button:focus path {
  border-radius: 30px;
}
